@import 'bootstrap';
@import 'bootstrap-icons';

:root {
    --color-primary: #4A90E2;
    --color-secondary: #50E3C2;
    --color-accent: #F5A623;
    --color-success: #7ED321;
    --color-error: #D0021B;
    --color-background: #F2F2F2;
    --color-text: #4A4A4A;
    --color-text-light: #FFFFFF;
    --header-height: 90px;
}

body {
    background-color: var(--color-background);
    color: var(--color-text);
    max-height: 100vh;
}

#site_main {
    height: 100vh;
    overflow: scroll;
    padding-top: 80px;
}

#site_header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 10;
    height: var(--header-height);

    .site_logo {
        max-width: 100%;
    }
}

button.primary {
    background-color: var(--color-primary);
    color: var(--color-text-light);
}

.alert.error {
    background-color: var(--color-error);
    color: var(--color-text-light);
}

.aside_wrapper {
    width: 2%;
    min-width: 60px;
    float: left;
    max-height: calc(100vh - var(--header-height));

}

.aside {
    width: 5%;
    padding: 1rem;
    max-height: calc(100vh - var(--header-height));
    position: fixed;
    top: calc(0px + var(--header-height));
    bottom: 0;
    overflow: hidden;
    transition: width 0.5s;
    z-index: 10000;

    .aside_text {
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.5s;
        white-space: nowrap;

    }

    a {
        color: var(--color-text);
        text-decoration: none;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.5s;
        display: flex;
        align-items: center;


        &:hover {
            color: var(--color-primary);
        }
    }

    &:hover {
        width: 25%;
        max-width: 25%;

        .aside_text,
        a {
            opacity: 1;
            visibility: visible;
        }
    }
}

.table_custom {
    background-color: transparent;
    display: block;
    width: 100%;
}

.spinner_container {
    height: 100vh;
    width: 100%;
    background-color: rgba(75, 75, 75, 0.185);
}

.global_loader_container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    z-index: 10000;
}

.modal_container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10000;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}