@import 'bootstrap';
@import 'bootstrap-icons';

:root {
    --color-primary: #4A90E2;
    --color-secondary: #50E3C2;
    --color-accent: #F5A623;
    --color-success: #7ED321;
    --color-error: #D0021B;
    --color-background: #F2F2F2;
    --color-text: #4A4A4A;
    --color-text-light: #FFFFFF;
}

body {
    background-color: var(--color-background);
    color: var(--color-text);
}

button.primary {
    background-color: var(--color-primary);
    color: var(--color-text-light);
}

.alert.error {
    background-color: var(--color-error);
    color: var(--color-text-light);
}

.aside_wrapper {
    width: 5%;
    min-width: 60px;
    float: left;
    height: 100vh;
}

.aside {
    width: 5%;
    padding: 1rem;
    height: 100%;
    position: absolute;
    overflow: hidden;
    transition: width 0.5s;
    z-index: 10000;

    .aside_text {
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.5s;
        white-space: nowrap;

    }

    a {
        color: var(--color-text);
        text-decoration: none;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.5s;
        display: flex;
        align-items: center;


        &:hover {
            color: var(--color-primary);
        }
    }

    &:hover {
        width: 25%;
        max-width: 25%;

        .aside_text,
        a {
            opacity: 1;
            visibility: visible;
        }
    }
}